/*THIS IS FOR THE STYLED CSS*/

/*UNIVERSAL SELCTOR HERE*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #541575;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap{
    padding-bottom: 2.5rem;
}

/*HEADER*/
    /*TITLE THE CODING CHEF*/
header {
    background-color: #41115c;
    padding: 20px;    
}

header h1 {
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    padding-top: 15px;
}

header h1 .coding{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 4000;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
}

header nav ul {
    background-color: #41115c;
    color: #8a23c2;
    font-family: 'Veranda', 'Andale Mono', 'Freemono';
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*HOVER PSUEDO CODE FOR WORK*/

/*MAIN*/
a {
    color: #260A36;
    text-decoration: none;
}

.ingredients {
    margin-bottom: 20px;
    padding: 50px;
    height: 200px;
    color: #260A36;
}

.ingredients-main img{
    display: block;
    margin: 10px auto;
    max-width: 750px;
}

.ingredients-samples img{
    display: block;
    margin: 10px auto;
    max-width: 100px;
    padding-left: 10px;
}

section p {
    font-size: 20px;
    float: inline-start;
    font-family: Georgia, COURIER, Times;
    color: #8A23C2;
    padding-left: 200px;
}

#work-sample{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 1000px;
}

#work-sample img{
    display: block;
    margin: 20px;
    min-block-size: 100px;
    border-radius: 24px;
}
/*BACKGROUND COLOR #541575*/
    /*SECTION IDENTIFIERS: ABOUT ME, WORK, CONTACT ME*/
        /*FORMATTING FOR SECTION HEADERS TO POSITION TO THE LEFT*/
        /*FONT GEORGIA, COURIER, TIMES*/
        /*FONT SIZE BIGGER THAN P TAG, SMALLER THAN NAV H2?*/
        /*FONT COLOR #260A36*/
    /*CLOSE SECTION IDENTIFIERS*/
    /*P TAGS*/
        /*FORMATTING TO THE RIGHT PARALLEL TO SECTION HEADER*/
        /*FONT SIZE H3*/
        /*ABOUT ME FONT TO BE ORIENTATED TO THE LEFT OF THE BOX, FLEX BOX??*/
    /*CLOSE P TAGS*/
    /*I ASSUME SOME UL/LI ORDERING HERE OR ABOVE P TAG SECTION*/
    /*IMG FORMATTING HERE*/
    /*CONTACT ME FORM HERE*/
        /*CENTERED*/
        /*FONT COLOR #8A23C2*/
        /*FONT ARIAL*/
    /*LIST EMAIL, GIT HUB, ETC*/
        /*CENTER UNDER CONTACT FORM*/
        /*FONT COLOR #8A23C2 IS THIS REDUNDENT CODE?*/
    /*DONE WITH CONTACT*/
/*DONE WITH MAIN*/

/*FOOTER*/

footer {
    padding: 30px;
    clear: both;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
    background-color: #260A36;
    color: #8a23c2;    
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
    

