/*UNIVERSAL SELCTOR*/
* {
    box-sizing: border-box;
}

body {
    background-color: #541575;
    margin: 0;
}

/*THIS KEEPS FOOTER IN PLACE, DO NOT TOUCH*/
#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap{
    padding-bottom: 2.5rem;
}

/*HEADER*/
header {
    background-color: #41115c;
    /*changes the thickness of the header, 40px is good*/
    padding: 50px;    
}

h1 {
    display: inline-block;
    font-size: 35px;
    font-weight: 600;
    padding-top: 15px;
}

/*this is for the span class DO NOT TOUCH*/
h1 .coding{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 4000;
}

/*HAPPY WITH NAV BAR DO NOT TOUCH*/
nav {
    padding: 15px;
    float: right;
    display: flex;
}

nav a{
    padding: 15px 20px;
    color: black;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
}

/*HOVER PSUEDO CODE FOR WORK*/

/*MAIN*/
main{
    display: flex;
    flex-wrap: wrap;
}

/*this is the parent container for about section*/
.about-wrapper{
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    background-color: aqua;
}

/* this pushes header and footer of about section to fill the screen horizontally*/
.about-wrapper > * {
    padding: 10px;
    flex: 1 100%;

}

/*this orientates the lorem ipsum text*/
.about-main {
    text-align: left;
    background-color: bisque;
}

.aside-about{
    background-color: pink;
}

@media all and (min-width: 600px) {
    .aside {flex: 1 0 0; }
}

/*this positions everything as it needs to be, dont touch*/
@media all and (min-width:800px) {
    .about-main {flex: 3 0px; }
    .aside-about {order: 1; }
    .about-main {order: 2; }
    .about-footer {order: 4; }
}
/*
a {
    color: #260A36;
    text-decoration: none;
}

.ingredients {
    margin-bottom: 20px;
    padding: 50px;
    height: 200px;
    color: #260A36;
    position: relative;
}

.ingredients-main img{
    display: block;
    margin: 10px auto;
    max-width: 750px;
    justify-content: center;
}

.ingredients-samples img{
    display: block;
    margin: 10px auto;
    max-width: 100px;
    padding-left: 10px;
}


section p {
    font-size: 20px;
    float: inline-start;
    font-family: Georgia, COURIER, Times;
    color: #8A23C2;
    padding-left: 200px;
}

#work-sample {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#work-sample img{
    display: block;
    margin: 20px;
    min-block-size: 100px;
    border-radius: 24px;
}
*/

/*FOOTER*/
    /*DONT TRY TO COMBINE ~footer~ AND ~#footer~, doesnt work like that*/
footer {
    padding: 30px;
    /* I DONT THINK I NEED THIS ELEMENT, CHECK AFTER CHANGES
    clear: both;
    */
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
    background-color: #260A36;
    color: #8a23c2;    
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
    

/* samples are split into two columns at 992px or smaller */
/*
@media screen and (max-width: 992px) {
    #work {
      width: 50%;
    }
}

/* samples are stacked on top of each other at 768px or smaller */
/*
@media screen and (max-width: 768px) {
    #work {
      width: 100%;
    }
  }
  